{{template "base" .}}

{{define "title"}}
    Categories
{{end}}

{{define "css"}}
    <link rel="stylesheet" href="/static/css/fighter-category.css">
{{end}}

{{define "content"}}
    <div class="generation">
        <h1>Generation-Wise</h1>
    </div>

    <hr>

    <div class="year">
        <h1>Year Wise</h1>
    </div>

    <hr>

    <div class="country">
        <h1>Country Wise</h1>
    </div>
{{end}}