{{template "base" .}}

{{define "title"}}
    Home
{{end}}

{{define "css"}}
    <link rel="stylesheet" href="/static/css/home.css">
{{end}}

{{define "content"}}   
    <div class="all-jets">
        {{if and .PostData (ne (index .PostData "searchResults") nil)}}
            <h1 style="margin-bottom: 0;">Search Results <a href="/" class="text-danger"><i class="fa-regular fa-circle-xmark"></i></a></h1>
            <h3>{{index .PostData "lengthSearchResults"}} results found!</h3>
            <div class="search-results-container">                
                {{$results := index .PostData "searchResults"}}
                <div class="row">
                    {{range $result := $results}}                
                        <!-- fighter jet brief info modal -->
                        <div class="modal fade" id="figherJetBriefInfoModal-{{$result.ID}}" tabindex="-1" aria-labelledby="figherJetBriefInfoModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="figherJetBriefInfoLabel">{{$result.JetName}}</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="{{$result.ImageLink}}" alt="{{$result.JetName}}" style="width: 100%; border-radius: 10px; margin-bottom: 2%;">
                                        <p class="card-text"><span class="field-name">Generation:</span> {{$result.Generation}}</p>
                                        <p class="card-text"><span class="field-name">Manufacturer:</span> {{$result.Manufacturer}}</p>
                                        <p class="card-text"><span class="field-name">Features:</span> {{$result.Features}}</p>
                                        <p class="card-text"><span class="field-name">Role:</span> {{$result.Role}}</p>
                                        <p class="card-text"><span class="field-name">Type:</span> {{$result.Type}}</p>
                                        <p class="card-text"><span class="field-name">Year of Introduction:</span> {{$result.Year}}</p>
                                        <p class="card-text"><span class="field-name">Number Built:</span> {{$result.NumberBuilt}}</p>
                                        <p class="card-text"><span class="field-name">Country of Origin:</span> {{$result.Country}}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                        <form method="post">
                                            <input type="hidden" name="jetDetailID" value="{{$result.ID}}">
                                            <button type="submit" class="btn btn-primary">Detailed Info</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="card" style="width: 18rem;">
                                <img src="{{$result.ImageLink}}" class="card-img-top" alt="{{$result.JetName}}">
                                <div class="card-body">
                                    <h5 class="card-title">{{$result.JetName}}</h5>
                                    <h6 class="card-title">Generation: {{$result.Generation}}</h6>
                                    <p class="card-text"><span class="field-name">Manufacturer:</span> {{$result.Manufacturer}}</p>
                                    <p class="card-text"><span class="field-name">Features:</span> {{$result.Features}}</p>
                                    <div class="btn-group" style="margin-top: 4%;">
                                        <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#figherJetBriefInfoModal-{{$result.ID}}">Brief Info</button>
                                        <form method="post">
                                            <input type="hidden" name="jetDetailID" value="{{$result.ID}}">
                                            <button type="submit" class="btn btn-primary" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">Detailed Info</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>                
                    {{end}}
                </div>
            </div>
            <hr>
        {{end}}        
        
        <h1>All Jets</h1>
        <div class="all-jets-container">
            {{$jets := index .Data "jets"}}
            <div class="row">
                {{range $jet := $jets}}
                    <!-- fighter jet brief info modal -->
                    <div class="modal fade" id="figherJetBriefInfoModal-{{$jet.ID}}" tabindex="-1" aria-labelledby="figherJetBriefInfoModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="figherJetBriefInfoLabel">{{$jet.JetName}}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img src="{{$jet.ImageLink}}" alt="{{$jet.JetName}}" style="width: 100%; border-radius: 10px; margin-bottom: 2%;">
                                    <p class="card-text"><span class="field-name">Generation:</span> {{$jet.Generation}}</p>
                                    <p class="card-text"><span class="field-name">Manufacturer:</span> {{$jet.Manufacturer}}</p>
                                    <p class="card-text"><span class="field-name">Features:</span> {{$jet.Features}}</p>
                                    <p class="card-text"><span class="field-name">Role:</span> {{$jet.Role}}</p>
                                    <p class="card-text"><span class="field-name">Type:</span> {{$jet.Type}}</p>
                                    <p class="card-text"><span class="field-name">Year of Introduction:</span> {{$jet.Year}}</p>
                                    <p class="card-text"><span class="field-name">Number Built:</span> {{$jet.NumberBuilt}}</p>
                                    <p class="card-text"><span class="field-name">Country of Origin:</span> {{$jet.Country}}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                    <form method="post">
                                        <input type="hidden" name="jetDetailID" value="{{$jet.ID}}">
                                        <button type="submit" class="btn btn-primary">Detailed Info</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="card" style="width: 18rem;">
                            <img src="{{$jet.ImageLink}}" class="card-img-top" alt="{{$jet.JetName}}">
                            <div class="card-body">
                                <h5 class="card-title">{{$jet.JetName}}</h5>
                                <h6 class="card-title">Generation: {{$jet.Generation}}</h6>
                                <p class="card-text"><span class="field-name">Manufacturer:</span> {{$jet.Manufacturer}}</p>
                                <p class="card-text"><span class="field-name">Features:</span> {{$jet.Features}}</p>
                                <div class="btn-group" style="margin-top: 4%;">
                                    <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#figherJetBriefInfoModal-{{$jet.ID}}">Brief Info</button>
                                    <form method="post">
                                        <input type="hidden" name="jetDetailID" value="{{$jet.ID}}">
                                        <button type="submit" class="btn btn-primary" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">Detailed Info</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {{end}}
            <div>
        </div>
    </div>
{{end}}